*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body
{
  margin-top: 50%;
  background: #07252d;
}
h1
{
  position: relative;
  font-size: 2.5em;
  letter-spacing: 7px;
  color: #0e3742;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0000);
  line-height: 2em;
  outline: none;
  animation: animate 5s linear infinite;
}
h2
{
  position: relative;
  font-size: 1.5em;
  letter-spacing: 7px;
  color: #0e3742;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0000);
  line-height: 0;
  outline: none;
  animation: animate 5s linear infinite;
}
p
{
  margin-top: 10%;
  font-family: Courier New;
  text-align: center;
  color: #fff;
}
button
{
  background-color: #0e3742;
  font-size: 8px;
  margin-top: 1%;
  padding: 10px;
  color: white;
  border:1px solid #fff;
  border-radius: 10px;
}
button:hover
{
  background-color: #03bcf4;
}
@keyframes animate
{
  0%,18%,20%,50.1%,60%,65.1%,85%,90.1%,92%
  {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 170px #03bcf4;
  }
}
